@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Public+Sans:ital,wght@0,200;0,400;1,200;1,400&display=swap");

html,
body {
  @apply px-2 md:px-4;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  color: white;
  background: url("../public/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, .5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Glass card styling */

.glasscard {
  @apply px-5 py-5;
  background: linear-gradient(
    126.6deg,
    rgba(255, 255, 255, 0.12) 28.69%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(140px);
  -webkit-backdrop-filter: blur(140px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

/* title with line styling */

.titleWithLine{
  @apply w-full;
}

.underLine{
  @apply my-3 bg-white h-0.5;
}