@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Public+Sans:ital,wght@0,200;0,400;1,200;1,400&display=swap");

html,
body {
  @apply px-2 md:px-4;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  color: white;
  background: url("../public/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
}

/* Glass card styling */
.glasscard {
  background: linear-gradient(
    126.6deg,
    rgba(255, 255, 255, 0.12) 28.69%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(140px);
  -webkit-backdrop-filter: blur(140px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-public {
  font-family: "Public Sans", sans-serif;
}

/* Gradient button styling */
/* gradient bg 1 */
.grad-button {
  background: linear-gradient(93.41deg, #27c2c7 0%, #179296 100%);
  box-shadow: 0px 8px 24px -6px rgba(27, 46, 94, 0.25);
}
