.holder {
  @apply grid gap-4 my-4;
  grid-template-columns: 500px auto;
}

@media screen and (max-width: 768px) {
  .holder {
    @apply grid grid-cols-1 gap-4;
  }
}

.upcomingEventsHolder{
    height:500px;
    @apply overflow-auto pr-3;
}

/* Upcoming Event box styling */

.upcomingEvent{
    @apply py-0 mt-8 flex flex-col-reverse sm:flex-row;
}

.contentHolder{
    @apply flex items-start justify-start flex-col py-4 sm:flex-grow sm:py-0;
}

.title{
    @apply italic;
}

.date{
    @apply flex items-center justify-start gap-2 my-3 font-bold text-sm;
}

.checkOutEventButton{
  @apply py-2 px-4 rounded-lg text-sm;  
  background: linear-gradient(to left, #1998a9 , #1EAAB2 );
}

.checkOutEventButton:hover{
    background: linear-gradient(to right, #1998a9 , #1EAAB2 );
}

.imageHolder{
    @apply bg-gray-300 h-36 w-full rounded-md sm:h-28 sm:w-28 shadow-xl;
}